<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.openwish" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddWishActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_wish"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".ReadWishActivity"
            android:label="@string/title_activity_read_wish" >
        </activity>
        <activity
            android:name=".GetWishActivity"
            android:label="@string/title_activity_get_wish" >
        </activity>
        <activity
            android:name=".ReadWishesActivity"
            android:label="@string/title_activity_read_wishes_activity" >
        </activity>
        <activity
            android:name=".CreatedWishesActivity"
            android:label="@string/title_activity_created_wishes" >
        </activity>
        <activity
            android:name=".SendBugActivity"
            android:label="@string/title_activity_send_bug" >
        </activity>
    </application>

</manifest>
